@model List<VMS_NET6._0_MVC.Models.VideoFileInfo>

@{
    ViewData["Title"] = "Catalogue";
}


    @if (Model != null && Model.Count > 0)
    {
        
        <div class="blue-background-text">
            <a>
                Select a video from the table to start playback.
            </a>
        </div>
        <div class="video-display-window mb-3">
            <video id="videoPlayer" controls class="embed-responsive-item">
            <source id="videoSource" src="" type="video/mp4">
            //src="~/uploads/@Model.FirstOrDefault()?.FileName"
            </video>
        </div>
        <div class="video-list-table">
            <table class="table mb-0">
                <thead class="table-dark">
                    <tr>
                        <th class="col-9">Video Filename</th>
                        <th class="col-3">File Size KB</th>
                    </tr>
                </thead>

            </table>

            <table class="table  table-dark table-striped mb-0">
                <tbody>
                    @foreach (var video in Model)
                    {
                    <tr onclick="playVideo('@Url.Content("~/uploads/" + video.FileName)')">
                        <td class="col-9">@video.FileName</td>
                        <td class="col-3">@video.FileSize</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    

    
    }
    else
    {
        
    <div class="blue-background-text">
        <a>
            The catalogue is empty. Use the upload form to add videos.
        </a>
    </div>
    }

